<header class="main-header">


    <div class="header-buy-chopbar">
        <img src="https://www.fixlancer.com/wp-content/themes/fixFIX/cb.png" alt="Buy chopbarh Image"
            class="chopbarh-img"> <span>Buy Chopbarh
            Vouchers</span> </div>

    <div class="toggle-nav">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="header-left">
        <div class="logo-maxi-container">

            <img src="../../images/logo.png" alt="">
        </div>
        <div class="hide mobile-finance mobile">
            <a class="block button header-top-btn" href="/dashboard/finance">
                <i class="fa fa-money font16 text-orange"></i>
                <span class="font16 text-orange">Balance:</span>
                <span class="font16 text-orange">0.00</span>
            </a>
            <div>
                <button class="button header-top-btn font16">Deposit Funds</button>

            </div>
        </div>
        <ul class="mobile-nav-container">
            <li>
                <a href="/dashboard">Home</a>
            </li>
            <li>
                <a href="" class="drop-down-profile">Profiie <i class="fa fa-caret-down"></i></a>
                <ul class="hide drop-down-container drop-profile">
                    <li><a href="/dashboard/profile" class="drop">View Profile</a></li>
                    <li><a href="/dashboard/profile/edit" class="drop">Edit Profile</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-down-requests">Job Request <i class="fa fa-caret-down"></i></a>
                <ul class="hide drop-down-container drop-requests">
                    <li><a href="/dashboard/post-job-request" class="drop">Post a Request</a></li>
                    <li><a href="/dashboard/my-requests" class="drop">My Requests</a></li>
                    <li><a href="/dashboard/job-requests" class="drop">All Requests</a></li>
                </ul>

            </li>
            <li>
                <a href="/dashboard/my-sales">Sales <span class="header-ongoing-sales"></span></a>
            </li>
            <li>
                <a href="/dashboard/my-orders">Orders <span class="header-ongoing-orders"></span></a>
            </li>
            <li>
                <a href="/dashboard/create-a-fix">Start Selling </a>
            </li>
            <li>
                <a href="/dashboard/affiliate">Affiliate </a>
            </li>
            <li>
                <a href="/log-out" class="mobile-log-out">Log Out </a>
            </li>
            <li>
                <input type="text" class="search-bar-maxi" placeholder="Find services. e.g logo">
            </li>
        </ul>
    </div>
    <div class="mobile-nav-main">
        <img src="https://www.fixlancer.com/wp-content/themes/fixFIX/logo-e-icon2.png" alt="" class="logo-mini">
        <div class="flex-right">
            <div class="search-input-wwrapper"><input type="text" placeholder="Search" class="search-mobile-header">
                <i class="fa fa-search"></i>
                <div class="top-search-error hide">
                    <i class="fa fa-exclamation text-red"></i>
                    <small class="text-red  font10">Search Field can not be empty</small>

                </div>

            </div>

            <a href="/dashboard/inbox">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="/dashboard/finance/notices" class="notice-bell"> <i class="fa fa-bell"></i>
            </a>
            <div class="avatar-menu-holder">
                <a href="#" class="desktop top-profile-avatar-container">
                    <span></span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="drop-down-container for-avatar hide">
                    <li><a href="/dashboard/profile" class="drop">View Profile</a></li>
                    <li><a href="/dashboard/edit" class="drop">Edit Profile</a></li>
                    <li><a href="/log-out" class="drop">Log Out</a></li>
                </ul>
            </div>
            <div class="revenue-menu-holder">
                <a href="#" class="top-revenue">
                    <span></span>
                    <i class="fa fa-caret-down"></i>

                </a>
                <ul class="drop-down-container hide for-revenue">
                    <li><a href="/dashboard" class="drop">Dashboard</a></li>
                    <li><a href="/dashboard/finance/withdraw" class="drop">Request Withdrawal</a></li>
                    <li><a href="/dashboard/finance/withdraw" class="drop">Deposit funds</a></li>
                    <li><a href="/dashboard/finance/withdraw" class="drop">Buy ChopBarh Vouchers</a></li>
                </ul>

            </div>


        </div>
    </div>





</header>