<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/affiliate.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <title>Affiliate | Fixlancer</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../images/logo.png" alt="logo" width="129.13px">
        </div>
        <ul class="list">
            <li><a href="#">Home</a></li>
            <li><a href="#" class="job">
                    Job Request <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </a>
                <ul class="request" id="job">
                    <a href="/dashboard/post-job-request">Post a Request</a>
                    <a href="/dashboard/my-requests">My Request</a>
                </ul>
            </li>
            <li class="sales"></li>
            <li class="orders"></li>
            <li><a href="#">Start Selling</a></li>
            <li><a href="/dashboard/affiliate">Affiliate</a></li>
        </ul>
        <div class="searched">
            <input name="term1" type="search" class="form-control small" required=""
                placeholder="Find services e.g logo">
            <button class="btn"><i class="fas fa-search text-secondary"></i></button>
        </div>
        <div class="icons">
            <a href="#"><i class="fas fa-envelope fa-fw" style="color:#797979;font-size:1.2em"></i></a>
            <a href="#"><i class="fas fa-bell fa-fw" style="color:#797979;font-size:1.2em"></i></a>
        </div>
        <div class="avatar">
            <a href="#">
                <p class="hello"></p>
                <img src="../images/iconfinder_arrow_sans_down_103299.png" width="10px" alt="icon">
            </a>
            <ul id="hello">
                <li><a href="/profile">View Profile</a></li>
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
        <div class="balance">
            <a href="#">
                <p class="ok">
                    <i class="fa fa-sort-desc" aria-hidden="true" style="color: #f27415;margin-bottom: 10px;"></i>
                </p>
            </a>
            <ul class="mylist" id="ok">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Request Withdrawal</a></li>
                <li><a href="#">Deposit Funds</a></li>
                <li><a href="https://wa.me/message/ND5RHZO3QN3RM1">Buy ChopBarh Vouchers
                        <img style="width:20px;border-radius:4px"
                            src="https://www.fixlancer.com/wp-content/themes/fixFIX/cb.png"></a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="dashboard">
            <i class="fas fa-chart-pie" style="font-size: 29.75px;"></i>
            <p>Affiliate Dashboard</p>
        </div>
        <div class="application">
            <div class="form">
                <div class="form-header">
                    <p>Application Form</p>
                </div>
                <form action="">
                    <input type="text" id="fullname">
                    <input type="text" id="city">
                    <input type="text" id="number">
                    <input type="text" placeholder="Website (optional)">
                    <input type="text">
                </form>
                <div class="submit">
                    <p>By applying to be an affiliate you’ve read, understood, and agreed to our Affiliate Terms below
                    </p>
                    <input type="submit" value="Apply">
                </div>
            </div>
        </div>
        <div class="terms">
            <p>Affiliate Terms</p>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>You should provide accurate information about you in your application to the Program and correctly
                    identify your site</p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>We will evaluate your application and notify you of its acceptance or rejection. We may reject your
                    application if we determine that your site is unsuitable.</p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>You earn 10% commission when your Referral buys a service and 5% commission when their services are
                    bought.</p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>Keep in mind that we only allow affiliates who use ethical marketing practices (no spamming or
                    offensive content).</p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>To earn commissions, you must include your affiliate link in the promo material that you use from us,
                    otherwise our system will not detect any orders and you will not be credited.</p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>You may not use the Banner, Links, including the logo, in any way that implies sponsorship or
                    endorsement by Fixlancer on your site or your business, products or services.</p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>You may not use the Links, Banner including the logo, to damage or tarnish Fixlancer or its goodwill.
                </p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>We pay affiliates monthly via Bank Transfer.</p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>Minimum payout is ₦1500 and a fee of ₦100 will be deducted on each payout</p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>Upon any termination of this Agreement, any and all licences you have will automatically terminate
                    and you will immediately stop using and remove all Fixlancer related banners or links/scripts from
                    your site</p>
            </div>
            <div class="dterms">
                <i class="fas fa-dot-circle" style="color: #1cc88a;"></i>
                <p>We use cookies to collect statistical data about the Site's use, to tailor the Site's functionality
                    to suit personal preferences and to assist with all aspects of the site's operation. By applying you
                    agree to the use of your cookies</p>
            </div>
            <p class="last">We urge all our affiliates to only promote the platform on legitimate mediums and to be
                careful not to make any false representations.
            </p>
        </div>
    </main>
    <footer>
        <ul class="footer-list">
            <li><a href="#">Buy ChopBarh Vouchers </a>|</li>
            <li><a href="#"> Start Selling </a>|</li>
            <li><a href="#"> Post Job Request </a>|</li>
            <li><a href="#"> About Us </a>|</li>
            <li><a href="#"> How it works </a>|</li>
            <li><a href="#"> FAQS </a>|</li>
            <li><a href="#"> Terms </a>|</li>
            <li><a href="#"> Affiliate Program </a>|</li>
            <li><a href="#"> Contact Us </a>|</li>
        </ul>
        <p>&copy; 2020 Fixlancer Marketplace</p>
    </footer>
</body>
<script>
    ///////////////////////////////////////
    let drop = false;
    let mainId;
    let job = document.querySelector('#job');
    let avatar = document.querySelector('#avatar');
    let balance = document.querySelector('#mylist');

    document.addEventListener('click', (e) => {
        if ((e.target.className === 'job' || e.target.className === 'hello' || e.target.className === 'ok') && !drop) {
            let list = document.querySelector(`#${e.target.className}`);
            list.setAttribute('style', 'display:block');
            drop = true;
            mainId = list;
        } else if (drop && e.target.className === mainId.id) {
            mainId.removeAttribute('style');
            drop = false;
        } else if ((e.target.className === 'job' || e.target.className === 'hello' || e.target.className === 'ok') && drop) {
            mainId.removeAttribute('style');
            let list = document.querySelector(`#${e.target.className}`);
            list.setAttribute('style', 'display:block');
            drop = true;
            mainId = list;
        } else if (drop) {
            mainId.removeAttribute('style');
        }
    })
    //////////////////////////////
    //////////////////////////////
    function fetchSummary() {
        fetch("/api/users/u?content=full").then(response => {
            if (!response.ok) {
                throw Error('Error');
            }
            return response.json();
        }).then(obj => {
            const data = obj.data
            const sales = document.querySelector('.sales')
            const orders = document.querySelector('.orders')
            const balance = document.querySelector('.ok')
            const user = document.querySelector('.hello');
            const fullname = document.querySelector('#fullname')
            const city = document.querySelector('#city')
            const number = document.querySelector('#number')
            const html3 = `
                <a href="#">Sales(${data['active_sales']})</a>
            `;
            sales.insertAdjacentHTML('afterbegin', html3);

            const html4 = `
                <a href="#">Orders(${data['active_orders']})</a>
            `;
            orders.insertAdjacentHTML('afterbegin', html4);
            const html5 = `
                     ₦${data['balance']}
                `;
            balance.insertAdjacentText('afterbegin', html5)
            const text = `
                ${data['username'][0]}
            `
            user.insertAdjacentText('afterbegin', text)
            data['full_name'] === "" ? fullname.setAttribute('placeholder', 'Full Name') : fullname.value = data['full_name']
            data['city'].isEmpty ? city.setAttribute('placeholder', 'Location') : city.value = data['city']
            data['phone'] === null ? number.setAttribute('placeholder', 'Phone Number') : number.value = data['phone']
        }).catch(err => {
            console.log(err);
        })
    }
    fetchSummary();
    /////////////////////////////
</script>

</html>