<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script defer src="../../js/alert.js"></script>
</head>

<body>
    <main class="job-request-alert">
        <section>
            <div class="logo-wrapper">
                <img src="../../images/logo.png" alt="fixlancer logo">
            </div>
            <h1>Job Request Alert</h1>
        </section>

        <section class="alert-form-wrapper">
            <div>
                <h2>
                    Receive alerts when a new Job Request is posted in these categories
                </h2>
                <form name="alert" id="alert">


                </form>
            </div>


        </section>
        <div class="unsubscribe">You can unsubscribe at anytime</div>
    </main>

</body>

</html>