<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>

<body>

    <main class="main">

        <h1>Create a Fix to start Selling</h1>
        <section class="form-group">
            <div>
                <fieldset>
                    <input type="text" placeholder="Enter Fix title">

            </div>
            <small>* Your fix title should start with "i will" or "i can"</small>

        </section>

        <div>
            <div class="section-head">
                <span>Description</span>

            </div>
            <section class="form-group">
                <div>
                    <fieldset>
                        <textarea name="" id="" cols="30" rows="8" placeholder="Be detailed as possible"></textarea>
                    </fieldset>
                    <small class="warning">* Posting of contact information will result in permanent blocking of your
                        account</small>
                </div>
            </section>
        </div>

        <div>
            <div class="section-head">
                <span>Details you need to start the project</span>

            </div>
            <section class="form-group">
                <div>
                    <fieldset>
                        <textarea name="" id="" cols="30" rows="8" placeholder="Enter details here"></textarea>
                        <small class="warning">* Do not request for contact details</small>
                    </fieldset>

                </div>
            </section>
        </div>
        <div>


            <fieldset>
                <select name="" id="" data-placeholder="Please select a category..">
                    <option value="">Select a Category...</option>
                </select>
            </fieldset>
        </div>
        <div>


            <fieldset>
                <select name="" id="" data-placeholder="Please select a category..">
                    <option value="">Select Price</option>
                </select>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <select name="" id="" data-placeholder="Please select a category..">
                    <option value="">Delivery Days</option>
                    <option value="">2 days</option>
                </select>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <input type="text" placeholder="Enter Each tag separated by comms(optional)">
            </fieldset>
        </div>
        <div>
            <div class="section-head">
                <i class="fa fa-camera"></i><span>Image Upload</span>

            </div>

            <section class="form-group">
                <div>

                    <fieldset>
                        <input type="file">
                    </fieldset>

                </div>
                <div>

                    <fieldset>
                        <input type="file">
                    </fieldset>

                </div>
                <div>

                    <fieldset>
                        <input type="file">
                    </fieldset>

                </div>
            </section>
        </div>
        <div>
            <div class="section-head">
                <i class="fa fa-camera-retro"></i><span>Video Upload</span>
            </div>

            <section class="form-group">

                <div>
                    <fieldset>
                        <input type="file">
                    </fieldset>

                </div>
            </section>
        </div>

        <div>
            <div class="section-head">
                Extra
            </div>
            <section class="form-group">
                <div>
                    <fieldset>
                        <input type="text" placeholder="Enter what you will do for extra">
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <input type="number" placeholder="Amount">
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <input type="text" placeholder="Enter what you will do for extra">
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <input type="number" placeholder="Amount">
                    </fieldset>
                </div>
            </section>
        </div>

        <fieldset>
            <button>Create Fix</button>
        </fieldset>

    </main>

</body>

</html>