<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>

    <title>Document</title>
    <link rel="stylesheet" href="../../css/styles.css">


</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main">

        <h1>Finance</h1>
        <section class="withdrawal-summary">
            <header> Notifications</header>

            <div class="notifications">
                <a href="#">
                    A new offer price of <strong>#100000</strong> by Smith has been placed on your job request: <strong>
                        Web development for an Ecommerce site</strong>. Click here to view.<span>29 jul 20</span>
                    <em></em>
                </a>
            </div>
            <div class="notifications">
                <a href="#">
                    A new offer price of <strong>#100000</strong> by Smith has been placed on your job request: <strong>
                        Web development for an Ecommerce site</strong>. Click here to view.<span>29 jul 20</span>
                    <em></em>
                </a>
            </div>
            <div class="notifications">
                <a href="#">
                    A new offer price of <strong>#100000</strong> by Smith has been placed on your job request: <strong>
                        Web development for an Ecommerce site</strong>. Click here to view.<span>29 jul 20</span>
                    <em></em>
                </a>
            </div>
            <div class="notifications">
                <a href="#">
                    A new offer price of <strong>#100000</strong> by Smith has been placed on your job request: <strong>
                        Web development for an Ecommerce site</strong>. Click here to view.<span>29 jul 20</span>
                    <em></em>
                </a>
            </div>
        </section>
        <section class="finance-controlers">
            <div>
                <a href="/dashboard/finance/withdraw" class="button">Request Withdrwal</a>
            </div>
            <div>
                <a href="/dashboard/finance/transactions" class="trans-hist button">Transaction History</a>
            </div>
        </section>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>