<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>

<body>

    <main class="main">

        <h1>Finance</h1>
        <section class="withdrawal-summary">
            <header> Notifications</header>

            <div class="notifications">
                <a href="#">
                    A new offer price of <strong>#100000</strong> by Smith has been placed on your job request: <strong>
                        Web development for an Ecommerce site</strong>. Click here to view.<span>29 jul 20</span>
                    <em></em>
                </a>
            </div>
            <div class="notifications">
                <a href="#">
                    A new offer price of <strong>#100000</strong> by Smith has been placed on your job request: <strong>
                        Web development for an Ecommerce site</strong>. Click here to view.<span>29 jul 20</span>
                    <em></em>
                </a>
            </div>
            <div class="notifications">
                <a href="#">
                    A new offer price of <strong>#100000</strong> by Smith has been placed on your job request: <strong>
                        Web development for an Ecommerce site</strong>. Click here to view.<span>29 jul 20</span>
                    <em></em>
                </a>
            </div>
            <div class="notifications">
                <a href="#">
                    A new offer price of <strong>#100000</strong> by Smith has been placed on your job request: <strong>
                        Web development for an Ecommerce site</strong>. Click here to view.<span>29 jul 20</span>
                    <em></em>
                </a>
            </div>
        </section>
        <section class="finance-controlers">
            <div>
                <a href="" class="button">Request Withdrwal</a>
            </div>
            <div>
                <a href="" class="trans-hist button">Transaction History</a>
            </div>
        </section>

    </main>

</body>

</html>