<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>

</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main">

        <h1>Finance</h1>
        <div class="grid-2-21">
            <div>
                <section class="withdrawal-summary">
                    <header> <i class="fa fa-bar-chart"></i>Request Withdrwals</header>
                    <div class="sect"
                        style="margin:15px 25px 35px 25px;padding-left: 10px; border-left: 3px solid #1cc88a;">
                        <div>Revenues: <span>₦<%= revenue.toFixed(2) %></span></div>
                    </div>
                    <div class="sect">
                        <fieldset>
                            <label for=" amount">- Enter Amount</label>
                            <input type="number" placeholder="Amount" name="amount">
                        </fieldset>
                    </div>
                    <div class="finance-bank-details" style="padding-top: 10px;">
                        <div class="border-smooth">
                            <a class="overlay-bank flex-center block" href="/dashboard/edit" title="Edit Bank details">
                                <span class="text-white"> <i class="fa fa-pencil text-white"></i>Edit</span>

                            </a>
                            <div>
                                <span>Account Name: </span><span></span>
                            </div>
                            <div>
                                <span>Account No.: </span><span></span>
                            </div>
                            <div>
                                <span>Bank: </span><span></span>
                            </div>
                        </div>
                    </div>
                    <div class="sect">
                        <fieldset>
                            <input type="password" placeholder="Current password" name="password">
                        </fieldset>
                    </div>
                    <div class="sect">
                        <fieldset>
                            <button class="button">Withdraw</button>
                        </fieldset>
                    </div>
                    <div class="sect">
                        <ul class="font13">
                            <li style="margin-bottom: 7px;">* Minimum withdrawal is NGN1,500</li>
                            <li style="margin-bottom: 7px;">* A fee of NGN100 will be charged for every withdrawal to
                                bank</li>
                            <li style="margin-bottom: 7px;">* Withdrawals are processed within 2-3 business days</li>
                        </ul>
                    </div>
                </section>
            </div>
            <section class="finance-controlers">
                <div>
                    <a href="" class="button font16">Request Withdrwal</a>
                </div>
                <div>
                    <a href="" class="trans-hist button font16">Transaction History</a>
                </div>
            </section>
        </div>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>