<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

    <title>Document</title>
</head>

<body>

    <main class="main">

        <h1>Finance</h1>
        <div class="grid-2">
            <div>
                <section class="finance-summary">
                    <div>Revenues: <span>₦0.00</span></div>
                    <div>Deposit: <span>₦0.00</span></div>
                </section>
                <section class="withdrawal-summary">
                    <header> <i class="fa fa-bar-chart"></i>Withdrwals</header>
                    <div>
                        No Withdrwals yet
                    </div>
                </section>
            </div>
            <section class="finance-controlers">
                <div>
                    <a href="/dashboard/finance/withdraw" class="button">Request Withdrwal</a>
                </div>
                <div>
                    <a href="/dashboard/finance/transactions" class="trans-hist button">Transaction History</a>
                </div>
            </section>
        </div>

    </main>

</body>

</html>