<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css
    ">
    <title>Document</title>
</head>

<body>
    <header class="bg-white">
        <div class="">
            <img src="../../images/logo.png" alt="">
        </div>
        <ul>
            <li>
                <a href="">Login</a>|
            </li>
            <li>
                <a href="">Register</a>|
            </li>
            <li>
                <a href="">Invite Friends</a>
            </li>
        </ul>
    </header>
    <main class="main">
        <section>
            <div>
                Find <span>Services</span>
            </div>
            <div>for your business</div>
            <div>
                <input type="text" placeholder="Try 'logo'">
            </div>
            <div>
                <button>
                    <i class="fa fa-search"></i>
                    Search
                </button>
            </div>
        </section>
        <section>
            <div>
                <div>
                    <i class="fas fa-shield-alt text-success"></i>
                </div>
                <div>
                    <div class="bold">
                        100% Secured
                    </div>
                    <div>
                        Job is done or Money back
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div>
                <img src="https://www.fixlancer.com/wp-content/themes/fixFIX/dash/img/cat3.jpg" alt="">
            </div>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="">About Us</a>
                </li>
                <li>
                    <a href="">How it works</a>
                </li>
                <li>
                    <a href="">FAQs</a>
                </li>
                <li>
                    <a href="">Affiliate Program</a>
                </li>
                <li>
                    <a href="">Terms</a>
                </li>
                <li>
                    <a href="">Contact Us</a>
                </li>
            </ul>
            <div>
                ©2020Fixlancer. Fixlancer is a registered Trademark of Fixlancer Marketplace
            </div>
        </nav>
    </footer>

</body>

</html>