<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>

<body>
    <header class="explore-header">
        <div class="logo-wrapper">
            <img src="../images/logo.png" alt="">
        </div>
        <div class="welcome">
            <h4> <i class="fa fa-fw fa-handshake-o"></i> Welcome to Fixlancer</h4>
        </div>
    </header>

    <main class="how-it-works">
        <h1 class="center-text">How it works</h1>

        <section class="how-it-works-section">
            <h2 class="center-text">For buyers</h2>
            <div class="hit-q-holder">
                <div>
                    <h4 class="how-it-works-q"><span>How does Fixlancer work?</span> <span>+</span></h4>
                    <p>
                        Fixlancer.com is a freelance, digital marketplace for small and large scale businesses. It's a
                        platform where you can Work or Hire freelance services from home.<br>
                        A service offered on Fixlancer is called a Fix.
                    </p>
                </div>

                <div>
                    <h4 class="how-it-works-q"><span>How do i place an order?</span><span>+</span> </h4>
                    <p>
                        As a user/guest you are absolutely free to browse through our various category of Fixes and
                        select
                        your preferred Fix and click the 'Order Now' button.<br>
                        It can also be done through a custom offer received in your inbox from the seller or through a
                        Job
                        Request posted by you.<br>
                        After you place the order, a new page is created where you can send your requirememts,
                        communicate
                        with the seller and get updates on the order in progress.
                    </p>
                </div>
                <div>
                    <h4 class="how-it-works-q"><span>How do i contact a seller?</span> <span>+</span></h4>
                    <p>
                        Contacting a seller is quite easy. Visit the Fix page or the seller's profile, there is a
                        contact
                        seller
                        button on these pages. <br>
                        Click the button, type your message and send. You will be notified when they
                        respond.
                    </p>
                </div>

                <div>
                    <h4 class="how-it-works-q"><span>How do i find a fix? </span><span>+</span></h4>
                    <p>
                        You will be able to find a Fix by searching any keywords related to the type of services you are
                        interested in.
                    </p>
                </div>
            </div>

        </section>

        <section class="how-it-works-section">
            <h2 class="center-text">
                For sellers
            </h2>
            <div class="hit-q-holder">
                <div>
                    <h4 class="how-it-works-q">
                        <span> How do i start selling?</span>

                        <span>+</span>
                    </h4>
                    <p class="center-text">
                        Click on the menu link, navigate to 'Start Selling' click on the link. Create a fix of the
                        service
                        you are offering, click submit and you are set.
                    </p>
                </div>
                <div>
                    <h4 class="how-it-works-q">
                        <span>What to avoid?</span>

                        <span>+</span>
                    </h4>
                    <p class="center-text">
                        Creating duplicate accounts
                        Requesting to take communications and payments outside Fixlancer.
                    </p>
                </div>

                <div>
                    <h4 class="how-it-works-q">
                        <span>How does the order process work?</span>

                        <span>+</span>
                    </h4>
                    <p class="center-text">
                        When an order is placed, the funds are held on escrow with Fixlancer. Once you complete the
                        order,
                        85% of the order amount will be released to you but placed in your pending balance for 3 days to
                        clear. This is so to ensure buyer satisfaction. After 3 days it will be avaliable for you to
                        withdraw to your Bank Account
                    </p>
                </div>
            </div>

        </section>
        <div class="center-text">
            <a href="" class="button next-btn">Next</a>
        </div>
    </main>



</body>

</html>