<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Get Jobs Done | Fixlancer</title>
</head>

<body>
    <header>
        <div class="logo"><img src="../images/logo.png" alt="logo" width="111.69"></div>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <div class="dash"></div>
                <li><a href="/register">Register</a></li>
                <div class="dash"></div>
                <li><a href="#">Invite Friends</a></li>
            </ul>
        </nav>
    </header>
    <div class="landing-page">
        <div class="land-img"><img src="../images/index.png" alt="image" width="500px"></div>
        <div class="land-text">
            <p>Find <span>Services</span><br> for your business</p>
            <div class="land-search">
                <form action="">
                    <input type="search" name="" id="search" placeholder="Try 'logo'" required>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="shield">
                <i class="fas fa-shield-alt" style="font-size:1.5em; color: #007E33;"></i>
                <div class="shield-text">
                    <p class="one">100% Secured</p>
                    <p>Job is done or Money back</p>
                </div>

            </div>
        </div>
    </div>
    <div class="box-shadow">
        <main>
            <div class="main-img">
                <a href="#">
                    <div class="img">
                        <img src="../images/cat1.jpg" alt="img" width="353.33px" height="85px"
                            style="border-radius: 8px;">
                    </div>
                </a>
                <a href="#">
                    <div class="img">
                        <img src="../images/cat3.jpg" alt="img" width="353.33px" height="85px"
                            style="border-radius: 8px;">
                    </div>
                </a>
                <a href="#">
                    <div class="img">
                        <img src="../images/cat2.jpg" alt="img" width="353.33px" height="85px"
                            style="border-radius: 8px;">
                    </div>
                </a>
            </div>
            <div class="text">
                <p>Categories</p>
            </div>
            <div class="layout"></div>
            <div class="text p">
                <p>Featured</p>
            </div>
            <div class="featured-fixes"></div>
            <div class="search">
                <div class="inp">
                    <p>Find More Services</p>
                    <div class="inp1">
                        <input type="search" name="search" id="searchs" placeholder="Try 'website'">
                        <a href="#"><img src="../images/search.svg" alt="search"></a>
                    </div>
                </div>
            </div>
            <div class="expert">
                <div class="expert-text">
                    <p>Find an Expert for Anything</p>
                    <div class="text-class">
                        <div class="text-mark">
                            <img src="../images/mark.svg" alt="mark" width="15px">
                            <p>Always covered</p>
                        </div>
                        <p>Whether you need writers, graphic designers, programmers etc we have got you covered. Find
                            services in minutes with fixed prices. No Setup fee, no hidden fee.</p>
                    </div>
                    <div class="text-class">
                        <div class="text-mark">
                            <img src="../images/mark.svg" alt="mark" width="15px">
                            <p>Zero Risk, MoneyBack Guaranteed</p>
                        </div>
                        <p>Payments are held on escrow with us. We only release payments to the freelancer once you are
                            satisfied.</p>
                    </div>
                </div>
                <div class="expert-img">
                    <img src="images/back.jpg" alt="">
                </div>
            </div>
        </main>

    </div>
    <div class="seen">
        <div class="seen-text">
            <p>AS SEEN ON:</p>
        </div>
        <div class="seen-img">
            <a target="blank"
                href="https://disrupt-africa.com/2020/05/how-nigerian-tech-startup-fixlancer-is-changing-how-jobs-get-done/"
                title="Disrupt Africa" style="margin-right: 20px;">
                <img width="120px"
                    src="https://www.fixlancer.com/wp-content/themes/fixFIX/DA-logo-on-transparent-with-tag-small-e1414593297539.png"
                    alt="disrupt">
            </a>
            <a target="blank"
                href="https://techpoint.africa/2020/05/11/how-tech-startup-fixlancer-is-changing-the-job-market-in-nigeria/"
                title="Nairaland" style="margin-right: 20px;">
                <img width="120px" src="https://www.fixlancer.com/wp-content/themes/fixFIX/Techpoint.png"
                    alt="Techpoint">
            </a>
            <a target="_blank" title="Nairaland"
                href="https://www.nairaland.com/5285913/efe-ejeba-bags-fixlancer-endorsement/">
                <img width="120px" src="https://www.fixlancer.com/wp-content/themes/fixFIX/nairaland.png"></a>
        </div>
        <div class="line"></div>
        <div class="funds">
            <i class="fas fa-shield-alt" style="font-size:1.5em; color: #007E33;"></i>
            <p>Funds Protected</p>
        </div>
        <p>We monitor every transacion and have smart procedures to protect you from phishing, fraud and identity theft.
        </p>
        <p>Deposits are processed by us and Secured by:</p>
        <img src="../images/paystack.png" alt="paystack">
        <p>For partnership:<a href="#">Send us an Email</a></p>
    </div>
    <footer>
        <div class="footer-text">
            <ul class="footer-list">
                <li><a href="#">About Us</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Affiliate Program</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <p>&copy;2020Fixlancer is a registered Trademark of Fixlancer Marketplace</p>
        </div>
    </footer>
</body>
<script>

    //DROPDOWN//
    //////////////////////////
    var isDropped = false;
    let currentId;
    const category = document.querySelector('.layout');
    console.log(category);
    function dropDown(e) {
        e.preventDefault();
        const listItem = document.querySelector(`#${e.target.nextElementSibling.id}`);
        listItem.setAttribute('style', 'display:block');
        isDropped = true;
        currentId = e.target.nextElementSibling.id;
    }

    function removeDropDown(e) {
        e.preventDefault();
        const listItem = document.querySelector(`#${currentId}`);
        listItem.removeAttribute('style');
        isDropped = false;
        currentId = undefined;
    }

    document.addEventListener('click', (e) => {
        if (isDropped && e.target.className === 'cat') {
            if (e.target.nextElementSibling.id !== currentId) {
                removeDropDown(e);
                dropDown(e);
            } else {
                removeDropDown(e);
            }
        } else if (isDropped && e.target.className !== 'cat') {
            removeDropDown(e);
        } else if (!isDropped && e.target.className === 'cat') {
            dropDown(e);
        }

    })

    //DROPDOWN//
    ///////////////////////////
    //////////////////////
    //FEATURED FIX//
    function fetchData() {
        fetch("/api/fixes?state=random&count=4").then(response => {
            if (!response.ok) {
                throw Error('Error');
            }
            return response.json();
        }).then(data => {
            const arr = data
            console.log(Object.values(arr[0])[0]);
            const featured = document.querySelector('.featured-fixes');
            const html = arr.map(fix => {
                return `
                    <div class = "fixes">
                        <div class = "fix-img"><img src=${fix["images_url"][0]} alt="img"></div>
                        <div class = "img-text">
                            <div class="username">
                                <div class="dot"></div>
                                <div class="name">${fix["username"]}</div>
                            </div>
                            <div class="description"><p>${fix["description"]}</p></div>
                            <div class="down">
                                <div class="time">
                                    <img src="images/time.svg" alt="time" width="10px"/>
                                    <div class="date"><p>${fix["delivery_days"]} days</p></div>
                                </div>
                                <div class="price"><p>N${fix["price"]}</p></div>
                            </div>
                        </div>
                    </div>
                `;
            }).join('')
            featured.insertAdjacentHTML('afterbegin', html);
        }).catch(err => {
            console.log(err);
        })
    }
    fetchData();
    //FEATURED FIX//
    function fetchCategory() {
        fetch("/api/categories").then(response => {
            if (!response.ok) {
                throw Error('Error');
            }
            return response.json();
        }).then(obj => {
            const arr = obj.data
            const featured = document.querySelector('.layout');
            const html = arr.map((fix, index) => {
                return `
                    <div class="each-category">
                            <a href="#" class="cat">${fix['name']}
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </a>
                            <div class="list-items"  id=${'a' + index}>
                                <ul>
                                ${fix['subcat'].map(x => {
                    return `<li><a href="#">${x.name}</a></li>`
                }).join('')
                    }
                                </ul>
                            </div>
                    </div>
                `;
            }).join('')
            featured.insertAdjacentHTML('afterbegin', html);
        }).catch(err => {
            console.log(err);
        })
    }
    fetchCategory();

</script>

</html>