<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Document</title>
</head>

<body>

    <main class="main">
        <section>
            <h1>My Orders</h1>
            <section class="orders-and-sales">

                <header class="sales-and-orders-headings">
                    <div><a href="my-orders-ongoing.html">Ongoing(<span>0</span>)</a></div>
                    <div><a href="/dashboard/my-orders/delivered">Delivered(<span>0</span>)</a></div>
                    <div><a href="my-orders-completed.html">Completed(<span>0</span>)</a></div>
                    <div><a href="#" class="active">Cancelled(<span>0</span>)</a></div>
                </header>
                <section>
                    <div class="order-and-sale">
                        <div>
                            <div class="fix-image-wrapper">
                                <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595286741236WhatsApp%20Image%202020-07-20%20at%208.32.49%20AM.jpeg"
                                    alt="">
                            </div>
                        </div>
                        <div>
                            <header>
                                <a href="#" class="title">I will design a brand color pallete for you</a>
                            </header>
                            <div>
                                <a href="#"><i class="fas fa-circle"> </i> <span>orbit</span> </a>
                            </div>
                            <div class="sale-and-order-meta">
                                <div class="delivery-and-star">
                                    <div class="date">
                                        <i class="fas fa-clock"></i> <span>16 jan 2020</span>
                                    </div>

                                    <div>
                                        <i class="fa fa-star"></i><span>5</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="amount">
                                        ₦2,000
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="divider"></div>
                </section>

                <section>
                    <div class="order-and-sale">
                        <div>
                            <div class="fix-image-wrapper">
                                <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595286741236WhatsApp%20Image%202020-07-20%20at%208.32.49%20AM.jpeg"
                                    alt="">
                            </div>
                        </div>
                        <div>
                            <header>
                                <a href="#" class="title">I can do your logo design work.</a>
                            </header>
                            <div>
                                <a href="#"><i class="fas fa-circle"> </i> <span>orbit</span> </a>
                            </div>
                            <div class="sale-and-order-meta">
                                <div class="delivery-and-star">
                                    <div class="date">
                                        <i class="fas fa-clock"></i> <span>16 jan 2020</span>
                                    </div>

                                    <div>
                                        <i class="fa fa-star"></i><span>5</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="amount">
                                        ₦2,000
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="divider"></div>
                </section>


            </section>

        </section>
    </main>

</body>

</html>