<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script defer src="../js/my-requests.js"></script>

</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main request-page">
        <% if(notice){ %>
        <div class="new-post-notice">Your job request has been posted and it is under review. We will notify you when it
            is approved</div>
        <% } %>

        <h1>My Job Requests</h1>
        <section class="requests">

            <!-- <section>
                <div class="request">
                    <div>
                        <div class="username-icon">O</div>
                    </div>
                    <div>
                        <header>
                            <a href="#" class="title">Digital Art Cover designer</a>
                        </header>
                        <p class="description">I need someone to design an art Cover for my upcoming song. In 24
                            hours
                        </p>
                        <div class="duration">
                            <i class="fas fa-clock"></i> 1 days
                        </div>
                        <div class="request-meta">
                            <div>

                                <div class="amount">
                                    ₦2,000
                                </div>
                            </div>
                            <div>
                                <i class="fa fa-exclamation-triangle"></i>Not approved
                            </div>
                        </div>
                        <div>
                            <a href="#">orbit </a>-
                            <span> 19-Mar-20</span>
                        </div>

                    </div>
                </div>
                <div class="divider"></div>
            </section> -->
        </section>

        <section class="recommendations">
            <h2>Recommended For You</h2>
            <section class="grid-responsive-6">

                <!-- to insert recommendations -->
            </section>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>