<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script defer src="../js/my-requests.js"></script>

</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main request-page">

        <h1>My Job Requests</h1>
        <section class="requests">
            <section>
                <div class="request">
                    <div>
                        <div class="username-icon">O</div>
                    </div>
                    <div>
                        <header>
                            <a href="#" class="title">Digital Art Cover designer</a>
                        </header>
                        <p class="description">I need someone to design an art Cover for my upcoming song. In 24
                            hours
                        </p>
                        <div class="duration">
                            <i class="fas fa-clock"></i> 1 days
                        </div>
                        <div class="request-meta">
                            <div>

                                <div class="amount">
                                    ₦2,000
                                </div>
                            </div>
                            <div>
                                <i class="fa fa-exclamation-triangle"></i>Not approved
                            </div>
                        </div>
                        <div>
                            <a href="#">orbit </a>-
                            <span> 19-Mar-20</span>
                        </div>

                    </div>
                </div>
                <div class="divider"></div>
            </section>
            <section>
                <div class="request">
                    <div>
                        <div class="username-icon">O</div>
                    </div>
                    <div>
                        <header>
                            <a href="#" class="title">Digital Art Cover designer</a>
                        </header>
                        <p class="description">I need someone to design an art Cover for my upcoming song. In 24
                            hours
                        </p>
                        <div class="duration">
                            <i class="fas fa-clock"></i> 1 days
                        </div>
                        <div class="request-meta">
                            <div>

                                <div class="amount">
                                    ₦2,000
                                </div>
                            </div>
                            <div>
                                <i class="fa fa-exclamation-triangle"></i>Not approved
                            </div>
                        </div>
                        <div>
                            <a href="#">orbit </a>-
                            <span> 19-Mar-20</span>
                        </div>

                    </div>
                </div>
                <div class="divider"></div>
            </section>
            <section>
                <div class="request">
                    <div>
                        <div class="username-icon">O</div>
                    </div>
                    <div>
                        <header>
                            <a href="#" class="title">Digital Art Cover designer</a>
                        </header>
                        <p class="description">I need someone to design an art Cover for my upcoming song. In 24
                            hours
                        </p>
                        <div class="duration">
                            <i class="fas fa-clock"></i> 1 days
                        </div>
                        <div class="request-meta">
                            <div>

                                <div class="amount">
                                    ₦2,000
                                </div>
                            </div>
                            <div>
                                <i class="fa fa-exclamation-triangle"></i>Not approved
                            </div>
                        </div>
                        <div>
                            <a href="#">orbit </a>-
                            <span> 19-Mar-20</span>
                        </div>

                    </div>
                </div>
                <div class="divider"></div>
            </section>
        </section>

        <section class="recommendations">
            <h2>Recommended For You</h2>
            <section class="grid-responsive-6">
                <!-- <div class="a-recommendation">
                    <div class="recommended-fix-top">
                        <div class="recommended-image-wrapper">
                            <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595286741237WhatsApp%20Image%202020-07-20%20at%208.30.57%20AM.jpeg"
                                alt="">
                        </div>
                        <div>
                            <div class="recoomended-username-desktop">
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <p class="recommended-fix-title">I will do a lot of things for you if you will p...
                            </p>
                            <small class="duration-and-rating-trust">
                                <span>
                                    <i class="fas fa-clock"></i> <span>1 days</span>
                                </span>
                                <span class="trust hide">
                                    <i class="fa fa-check orange"></i>
                                    <span class="orange">Trusted</span>
                                </span>
                                <span class="fix-rating">
                                    <i class="fa fa-star"></i>
                                    <span>4.5(3)</span>
                                </span>
                            </small>
                        </div>
                    </div>
                    <div class="amount-and-alter">
                        <div class="recommended-mobile">
                            <div>
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                        <div class="recommended-desktop">
                            <div>
                                <i class="fa fa-check orange"></i>
                                <small class="orange">Trusted</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                    </div>

                </div>


                <div class="a-recommendation">
                    <div class="recommended-fix-top">
                        <div class="recommended-image-wrapper">
                            <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595286741237WhatsApp%20Image%202020-07-20%20at%208.30.57%20AM.jpeg"
                                alt="">
                        </div>
                        <div>
                            <div class="recoomended-username-desktop">
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <p class="recommended-fix-title">I will do a lot of things for you if you will p...
                            </p>
                            <small class="duration-and-rating-trust">
                                <span>
                                    <i class="fas fa-clock"></i> <span>1 days</span>
                                </span>
                                <span class="trust hide">
                                    <i class="fa fa-check orange"></i>
                                    <span class="orange">Trusted</span>
                                </span>
                                <span class="fix-rating">
                                    <i class="fa fa-star"></i>
                                    <span>4.5(3)</span>
                                </span>
                            </small>
                        </div>
                    </div>
                    <div class="amount-and-alter">
                        <div class="recommended-mobile">
                            <div>
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                        <div class="recommended-desktop">
                            <div>
                                <i class="fa fa-check orange"></i>
                                <small class="orange">Trusted</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                    </div>

                </div>

                <div class="a-recommendation">
                    <div class="recommended-fix-top">
                        <div class="recommended-image-wrapper">
                            <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595286741237WhatsApp%20Image%202020-07-20%20at%208.30.57%20AM.jpeg"
                                alt="">
                        </div>
                        <div>
                            <div class="recoomended-username-desktop">
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <p class="recommended-fix-title">I will do a lot of things for you if you will p...
                            </p>
                            <small class="duration-and-rating-trust">
                                <span>
                                    <i class="fas fa-clock"></i> <span>1 days</span>
                                </span>
                                <span class="trust hide">
                                    <i class="fa fa-check orange"></i>
                                    <span class="orange">Trusted</span>
                                </span>
                                <span class="fix-rating">
                                    <i class="fa fa-star"></i>
                                    <span>4.5(3)</span>
                                </span>
                            </small>
                        </div>
                    </div>
                    <div class="amount-and-alter">
                        <div class="recommended-mobile">
                            <div>
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                        <div class="recommended-desktop">
                            <div>
                                <i class="fa fa-clock"></i>
                                <small>2 days</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                    </div>

                </div>

                <div class="a-recommendation">
                    <div class="recommended-fix-top">
                        <div class="recommended-image-wrapper">
                            <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595286741237WhatsApp%20Image%202020-07-20%20at%208.30.57%20AM.jpeg"
                                alt="">
                        </div>
                        <div>
                            <div class="recoomended-username-desktop">
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <p class="recommended-fix-title">I will do a lot of things for you if you will p...
                            </p>
                            <small class="duration-and-rating-trust">
                                <span>
                                    <i class="fas fa-clock"></i> <span>1 days</span>
                                </span>
                                <span class="trust hide">
                                    <i class="fa fa-check orange"></i>
                                    <span class="orange">Trusted</span>
                                </span>
                                <span class="fix-rating">
                                    <i class="fa fa-star"></i>
                                    <span>4.5(3)</span>
                                </span>
                            </small>
                        </div>
                    </div>
                    <div class="amount-and-alter">
                        <div class="recommended-mobile">
                            <div>
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                        <div class="recommended-desktop">
                            <div>
                                <i class="fa fa-star"></i>
                                <small class="orange">4.5(4)</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                    </div>

                </div>

                <div class="a-recommendation">
                    <div class="recommended-fix-top">
                        <div class="recommended-image-wrapper">
                            <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595286741237WhatsApp%20Image%202020-07-20%20at%208.30.57%20AM.jpeg"
                                alt="">
                        </div>
                        <div>
                            <div class="recoomended-username-desktop">
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <p class="recommended-fix-title">I will do a lot of things for you if you will p...
                            </p>
                            <small class="duration-and-rating-trust">
                                <span>
                                    <i class="fas fa-clock"></i> <span>1 days</span>
                                </span>
                                <span class="trust hide">
                                    <i class="fa fa-check orange"></i>
                                    <span class="orange">Trusted</span>
                                </span>
                                <span class="fix-rating">
                                    <i class="fa fa-star"></i>
                                    <span>4.5(3)</span>
                                </span>
                            </small>
                        </div>
                    </div>
                    <div class="amount-and-alter">
                        <div class="recommended-mobile">
                            <div>
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                        <div class="recommended-desktop">
                            <div>
                                <i class="fa fa-check orange"></i>
                                <small class="orange">Trusted</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                    </div>

                </div>


                <div class="a-recommendation">
                    <div class="recommended-fix-top">
                        <div class="recommended-image-wrapper">
                            <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595286741237WhatsApp%20Image%202020-07-20%20at%208.30.57%20AM.jpeg"
                                alt="">
                        </div>
                        <div>
                            <div class="recoomended-username-desktop">
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <p class="recommended-fix-title">I will do a lot of things for you if you will p...
                            </p>
                            <small class="duration-and-rating-trust">
                                <span>
                                    <i class="fas fa-clock"></i> <span>1 days</span>
                                </span>
                                <span class="trust hide">
                                    <i class="fa fa-check orange"></i>
                                    <span class="orange">Trusted</span>
                                </span>
                                <span class="fix-rating">
                                    <i class="fa fa-star"></i>
                                    <span>4.5(3)</span>
                                </span>
                            </small>
                        </div>
                    </div>
                    <div class="amount-and-alter">
                        <div class="recommended-mobile">
                            <div>
                                <i class="fa fa-circle"></i>
                                <small>Chika</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                        <div class="recommended-desktop">
                            <div>
                                <i class="fa fa-check orange"></i>
                                <small class="orange">Trusted</small>
                            </div>
                            <div class="fix-amount-green">
                                ₦50,000
                            </div>
                        </div>
                    </div>

                </div> -->


            </section>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>