<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script defer src="../js/my-requests.js"></script>

</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main class="main">
        <div>
            <button class="request-cancellation">
                Request Cancellation
            </button>
        </div>
        <div>
            <div>
                <i class="fa fa-congratilations"></i>
                <span>Your order is now in progress</span>
            </div>
            <div>
                Late
            </div>
            <div>
                progress
            </div>

        </div>
        <div>
            <header>
                <h2 class="heading">
                    Order Details
                </h2>
            </header>
        </div>
        <div>
            <button>
                Dispute Order
            </button>
        </div>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>