<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script defer src="../js/post-request.js"></script>

</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main class="post-a-request-main">
        <div class="post-request">
            <section class="form-container">
                <h3 class="form-title">What service do you want fixed? </h3>
                <form action="">
                    <fieldset><input type="text" placeholder="Title"></fieldset>

                    <fieldset>
                        <textarea name="" id="" placeholder="Describe the job you want done. Be detailed as possible..."
                            cols="30" rows="6"></textarea>
                    </fieldset>
                    <div class="selections">
                        <fieldset>
                            <select name="category" id="category" data-placeholder="Please select a category..">
                                <option value="">Select a Category...</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <select name="prices" id="prices" data-placeholder="Please select a category..">
                                <option value="">Select Price...</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <select name="" id="" data-placeholder="Please select a category..">
                                <option value="">Delivery Days</option>
                                <option value="">2 days</option>
                            </select>
                        </fieldset>
                    </div>

                    <fieldset>
                        <button>Submit Post</button>
                    </fieldset>


                </form>

            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>

</body>

</html>