<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script defer src="../js/user-profile.js"></script>

</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="grid-2-12">
            <section class="profile">
                <div class="online-status">
                    <div>
                        <span class="online-icon online-bg-color"></span><span
                            class="user-online online-color online-status">Active
                            now</span>
                    </div>
                </div>
                <div class="center-text profile-details">
                    <div class="flex-center-wrapper">

                        <div class="profile-icon"></div>
                    </div>
                    <div class="profile-item profile-username"></div>
                    <div class="profile-item profile-rating">Rating:</div>
                    <div class="profile-item profile-created-at"></div>
                    <div class="profile-item profile-phone">Mobile no:</div>
                    <div>
                        <a href="/dashboard/profile/edit" class="button edit-profile">
                            <i class="fa fa-pencil"></i> Edit Profile</a>
                    </div>

                </div>

            </section>
            <section class="profile-about">
                <div class="about-item">
                    <h2 class="about-title">About</h2>
                    <div class="profile-bio">
                    </div>
                </div>
                <div class="about-item">

                    <h2 class="profile-fixes-heading"> </h2>
                    <div class="scroll-container">
                        <div class="fix-container">
                            No fix created yet...
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>