<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Document</title>
</head>

<body>


    <main>
        <div class="grid-2-12">
            <section class="profile">
                <div class="online-status">
                    <div>
                        <span class="online-icon online-bg-color"></span><span class="user-online online-color">Active
                            now</span>
                    </div>
                </div>
                <div class="center-text profile-details">
                    <div class="flex-center-wrapper">

                        <div class="profile-icon">B</div>
                    </div>
                    <div class="profile-item profile-username">beni</div>
                    <div class="profile-item">Rating:</div>
                    <div class="profile-item">Member Since:</div>
                    <div class="profile-item">Mobile no:</div>
                    <div>
                        <a href="/dashboard/profile/edit" class="button edit-profile">Edit Profile</a>
                    </div>

                </div>

            </section>
            <section class="profile-about">
                <div class="about-item">
                    <h2 class="about-title">About</h2>
                    <div class="profile-bio ">
                        No bio yet
                    </div>
                </div>
                <div class="about-item">

                    <h2> Fixes by beni</h2>
                    <div class="fix-container">
                        No fix created yet...
                    </div>
                </div>
            </section>
        </div>

    </main>
</body>

</html>