<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <!-- <script defer src="../../js/reset.js"></script> -->
</head>

<body style="overflow-y: hidden;">
    <header>
        <div class="logo-wrapper-login">
            <img src="../../images/logo.png" alt="">

        </div>
        <div class="center-text padd10-top">
            <h1 class="font22">
                Reset Password
            </h1>
        </div>

    </header>
    <main class="bg-white">

        <div class="login-wrapper margin10-top">
            
            <div class="card-shadow border-smooth padd20">
                <div class="font14">
                    Please enter your details. We will send you a new password.
                </div>
               
                <div class="font16">
                    <div class="padd20-top">
                        <input type="
                        " placeholder="Username or Email" class="padd10 full-width font16 border4-smooth no-outline"
                            id=username>
                    </div>
                    <div class="padd10 font14 hide input-error">
                        <i class="fa fa-exclamation-circle text-red"></i>
                        <span class="text-red"> Invalid username or Email.<br>Please key in the correct details.</span>
                       
                    </div>
                    <div class="padd20-top  margin20-bottom">
                        <button id="reset-btn" class="padd10 full-width font16 border4-smooth no-outline text-white"
                            style="background: #47739e;">
                            Reset
                        </button>
                    </div>
                   
                    </div>
                </div>
            </div>
        </div>
        

    </main>

    <script>
        const resetBTN = document.querySelector("#reset-btn");
        const usernameOrEmailInput=document.querySelector("#username")
        const inputError= document.querySelector(".input-error")
        resetBTN.addEventListener("click",function(){
            inputError.classList.add("hide")
            const usernameOrEmail=usernameOrEmailInput.value
            sendData(usernameOrEmail)

        });
        function sendData(value){
            fetch(`/api/users/reset?value=${value}`)
            .then(response=>{
                if(response.status===200){
                   return  response.json()
                }
                else{
                    inputError.classList.remove("hide")
                }
            })
            .then(data=>{
                location.href="/reset-success"
                

            })
            .catch(err=>{
                console.log(err)
            })
        }


    </script>

</body>

</html>