<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script defer src="../../js/login.js"></script>
</head>

<body>
    <header>
        <div class="logo-wrapper-login">
            <img src="../../images/logo.png" alt="">

        </div>
        <div class="center-text padd10-top">
            <h1 class="font22">
                Password Reset
            </h1>
        </div>

    </header>
    <main class="bg-white">
        <div class="font15 center-text padd20">
            <p class="margin10-bottom "> 
                We have sent a confirmation message to your email address.
            </p>
            <p>
                Please follow the instructions in the email and get back to the  <a href="/login" class="text-link-with-hover">login page.</a>

            </p>
            

        </div>


       

    </main>

</body>

</html>