<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script defer src="../js/user-profile.js"></script>

</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main" style="min-height:69vh">

    

    
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>