<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="/api/orderchats/uploads" enctype="multipart/form-data" method="POST">
        <input type="file" name="file" class="file">
        <br>
        <button>Upload File</button>
    </form>


   <a href="/api/orderchats/download/enyia seminar papeer.docx"> download</a>


   <script>
       const button=document.querySelector("button");



   </script>




    <!-- <script>
        const fileInput=document.querySelector(".file")

        const sendBTN=document.querySelector("button");

        sendBTN.addEventListener("click",function(e){
            e.preventDefault()
            const file=fileInput.files[0]
            const formData= new FormData()
            form
        })

    </script> -->
    
</body>
</html>