* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #5a5c69;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100vh;
  line-height: 1.15;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a5c69;
}

main {
  background: #fcfcfc;
  width: 100vw;
  padding: 10px;
  width: 100vw;
  min-height: 90vh;
  box-sizing: border-box;
}

.post-request {
  padding: 10px 7px;
}

.center-text {
  text-align: center;
}

.form-container {
  background: #fff;
  margin: 0px auto;
  padding: 7px 10px;
  border-radius: 6px;
}
.form-container .form-title {
  font-size: 1.5rem;
  margin-bottom: 35px;
}

fieldset {
  border: none;
}
fieldset input, fieldset select, fieldset textarea {
  width: 100%;
  padding: 7px 10px;
  color: #6e707e;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.5;
  outline: none;
}
fieldset input:focus, fieldset select:focus, fieldset textarea:focus {
  border: 4px solid rgba(105, 196, 248, 0.4);
}
fieldset button {
  background: #415478;
  padding: 10px 14px;
  color: white;
  border-radius: 7px;
  font-size: 1rem;
}

.warning {
  color: #fe1b1b;
}

i.fa.fa-star {
  color: #ffae06;
}

.finance-summary {
  background: white;
  padding: 18px 25px;
  margin-top: 25px;
  border-radius: 3px;
  border: 1px solid #e3e6f0;
  box-shadow: 0px 1px 1px #e3e6f0;
}

.withdrawal-summary {
  background: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid #e3e6f0;
}
.withdrawal-summary header {
  background: #f8f9fc;
  padding: 18px 25px;
}
.withdrawal-summary header i {
  margin-right: 6px;
}
.withdrawal-summary > div {
  padding: 55px 25px 20px 25px;
}
.withdrawal-summary div.sect {
  padding: 0px 25px 0px 25px;
}
.withdrawal-summary div.sect:nth-child(3) {
  margin-top: 20px;
}
.withdrawal-summary .notifications {
  padding: 0px;
  line-height: 1.4;
  border-bottom: 1px solid #ddd;
}
.withdrawal-summary .notifications a {
  display: block;
  padding: 10px 15px 10px 10px;
}
.withdrawal-summary .notifications span {
  float: right;
}
.withdrawal-summary .notifications em {
  clear: both;
}
.withdrawal-summary .notifications:hover {
  background-color: #eeeded;
}

.finance-controlers {
  text-align: center;
  margin-bottom: 55px;
  margin-top: 25px;
}
.finance-controlers .trans-hist {
  color: #374355;
  border: 1px solid #ddd;
}

.button {
  margin-bottom: 15px;
  display: block;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  outline: none;
  border: 1px solid #f27415;
  color: #f27415;
}

button.button {
  color: white;
  background: #1cc88a;
  border: 1px solid #1cc88a;
}

.request, .order-and-sale {
  background: white;
  padding: 15px 20px 35px 20px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 9fr;
}

.requests, .orders-and-sales {
  box-shadow: 0px 0.15rem 1.75rem 0px rgba(58, 59, 69, 0.15);
  margin-top: 27px;
  border-radius: 7px;
}

.divider {
  margin-top: 20px;
  border-bottom: 1px solid #e3e6f0;
  width: 80%;
  margin: 0px auto;
}

main.request-page {
  padding: 15px 20px 30px 20px;
}

.send-offer {
  background: #415478;
  display: inline-block;
  color: white;
  padding: 6px 15px;
  border-radius: 6px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.6;
}

.recommended-fix-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
}

.a-recommendation {
  background: white;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.grid-responsive-6 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 25px;
}

.recommended-image-wrapper {
  max-height: 90px;
  overflow-y: hidden;
  object-fit: cover;
  border-radius: 6px;
  max-width: 90px;
}

.recommendations {
  margin-top: 50px;
}
.recommendations h2 {
  margin-bottom: 25px;
}

.username-icon {
  width: 1.6rem;
  height: 1.6rem;
  background: green;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommended-fix-title {
  line-height: 1.7;
  font-size: 0.9rem;
}

.recoomended-username-desktop {
  display: none;
}

.trust {
  margin-left: 20px;
  color: #f27415;
}

.title {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: lighter;
  padding-right: 50px;
  display: inline-block;
}

.amount-and-user {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.recommended-desktop {
  display: none;
}

.recommended-mobile {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.fix-amount-green {
  color: #5aba79;
  font-weight: bold;
}

.recommended-username-desktop {
  display: none;
}

.fix-rating {
  margin-left: 20px;
}

.duration-and-rating-trust {
  margin-top: 9px;
  display: inline-block;
}

.hide {
  display: none;
}

.orange {
  color: #f27415;
}

.description {
  padding-right: 50px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.request-meta {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 20px;
  padding-right: 55px;
  margin-bottom: 35px;
}
.request-meta > div:nth-child(2) {
  text-align: right;
  font-size: 0.75rem;
  color: #fe1b1b;
}
.request-meta > div:nth-child(2) i {
  margin-right: 3px;
  color: #fe1b1b;
}

.duration {
  font-size: 0.75rem;
  margin-bottom: 7px;
}

.amount {
  font-size: 1.6rem;
  font-weight: bolder;
}

.form-group {
  padding: 15px;
  background-color: white;
  margin-bottom: 25px;
  box-shadow: 0px 0.15rem 1.75rem 0px rgba(58, 59, 69, 0.15);
  border-radius: 5px;
}

.section-head {
  background: #f8f9fc;
  padding: 15px 25px;
  border: 1px solid #fff;
  box-shadow: 0px 0.15rem 1.75rem 0px rgba(58, 59, 69, 0.15);
  border-radius: 5px;
}
.section-head i {
  margin-right: 6px;
}

.sales-and-orders-headings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f8f9fc;
}
.sales-and-orders-headings a {
  display: block;
  color: #2F9CDD;
  text-align: center;
  padding: 10px;
  border-left: 2px solid #ddd;
  font-size: 1.2rem;
}
.sales-and-orders-headings a:hover {
  text-decoration: underline;
}
.sales-and-orders-headings a.active, .sales-and-orders-headings a.active span {
  background: #5aba79;
  color: white;
}
.sales-and-orders-headings a span {
  color: #2F9CDD;
}

.order-and-sale {
  grid-template-columns: 2fr 7fr;
  padding: 15px 20px 5px 20px;
}
.order-and-sale .title {
  font-size: 1rem;
  padding-right: 10px;
}

img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  display: block;
}

.sale-and-order-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.sale-and-order-meta .amount {
  color: #5aba79;
  font-size: 1.3rem;
}

.delivery-and-star {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.delivery-and-star .date {
  margin-right: 8px;
}
.delivery-and-star .fa-star {
  margin-right: 4px;
}

.profile {
  background: white;
  padding: 20px 20px 50px 20px;
  margin: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.online-status {
  display: flex;
  justify-content: flex-end;
}

.online-status div {
  text-align: right;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid #ddd;
  width: fit-content;
}

.online-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  color: #89E130;
  margin-right: 5px;
}

.online-bg-color {
  background: #89E130;
}

.online-color {
  color: #89E130;
}

.edit-profile {
  width: 95%;
  margin: 30px auto;
  border: 1px solid #ddd;
  color: inherit;
}

.profile-icon {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  background: #024446;
  margin: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.flex-center-wrapper {
  display: flex;
  justify-content: center;
}

.profile-item {
  margin-bottom: 15px;
  display: block;
  font-size: 1.2rem;
}

.profile-username {
  font-weight: bolder;
  margin-top: -10px;
  margin-bottom: 30px;
}

.profile-about {
  padding: 15px;
}

.profile-bio {
  background: white;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #ddd;
}

.about-item {
  margin-bottom: 15px;
}
.about-item h2 {
  margin-bottom: 15px;
  padding-left: 7px;
}
.about-item .fix-container {
  margin-top: 30px;
}

.logo-wrapper {
  width: 150px;
  margin: 0px auto 30px auto;
}

.explore-header {
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  background: #f2f2f2;
}

.welcome {
  font-size: 1.5rem;
}

.how-it-works-q {
  background: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.how-it-works-q + p {
  padding: 20px 30px;
  text-align: center;
}

.how-it-works-section {
  margin-top: 40px;
}

main.how-it-works {
  background: white;
  padding: 40px 15px 70px 15px;
}
main.how-it-works h2 {
  margin-bottom: 25px;
}

.hit-q-holder {
  border: 1px solid #ddd;
}

.next-btn {
  margin-top: 50px;
  color: white;
  background: #36b9cc;
  border: 1px solid #36b9cc;
}

@media only screen and (min-width: 769px) {
  .sales-and-orders-headings {
    display: flex;
    padding: 5px 40px;
  }
  .sales-and-orders-headings a {
    padding: 5px 40px;
  }

  .order-and-sale {
    grid-template-columns: 3fr 7fr;
  }
  .order-and-sale .title {
    font-size: 1.3rem;
    padding-right: 10px;
  }

  .sales-order-more-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .main {
    padding: 20px 120px;
  }

  .post-request {
    width: 60vw;
    padding: 20px 10px 10px 170px;
  }

  .form-container {
    padding: 10px 40px 30px 20px;
  }

  .selections {
    display: flex;
    justify-content: space-between;
  }
  .selections fieldset {
    width: 30%;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 15px;
  }

  .requests {
    width: 60vw;
  }

  .username-icon {
    width: 70px;
    height: 70px;
    font-size: 2.1rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .grid-2-12 {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    width: 80vw;
    margin: 10px auto;
  }

  main.how-it-works {
    width: 70vw;
    margin: 0px auto;
  }

  .grid-responsive-6 {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  main.request-page {
    padding: 15px 170px 30px 170px;
  }

  .a-recommendation {
    border-radius: 0;
    padding: 0;
  }

  .recommended-fix-top {
    display: flex;
    flex-direction: column;
  }
  .recommended-fix-top img {
    border-radius: 0;
  }

  .recommended-image-wrapper {
    max-height: 110px;
    overflow-y: hidden;
    object-fit: cover;
    border-radius: 0;
    max-width: 100%;
  }

  .recommended-fix-title, .amount-and-user {
    padding: 0 10px 10px 10px;
  }

  .duration-and-rating-trust {
    display: none;
  }

  .recommended-mobile {
    display: none;
  }

  .recommended-desktop {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .fa-clock {
    font-size: 0.8rem;
  }

  .trust, .fix-rating {
    margin-left: 0px;
  }

  .recoomended-username-desktop {
    display: flex;
    margin: 10px;
  }
  .recoomended-username-desktop .fa-circle {
    margin-right: 4px;
  }

  .recommended-username-mobile {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
