.inbox-summary{
    padding: 10px;
    .grid{
        display: grid;
        grid-template-columns: 35px auto;
        column-gap: 5px;
    }
    &:hover{
        background: rgb(238, 237, 237);
    }
}