.form-group{
    padding:15px;
    background-color:white;
    margin-bottom: 25px;
    box-shadow: 0px 0.15rem 1.75rem 0px rgba(58, 59, 69, 0.15);
    border-radius: 5px;
}

.section-head{
    background:#f8f9fc ;
    padding: 15px 25px;
    border: 1px solid #fff;
    box-shadow: 0px 0.15rem 1.75rem 0px rgba(58, 59, 69, 0.15);
    border-radius: 5px;
    i{
       margin-right: 6px;
    }

}