


@media only screen and(min-width:991px){

    .sales-and-orders-headings{
        display: flex;
        padding: 5px 40px;
        a{
            padding: 5px 40px;
        }
    }
    .order-and-sale{
        grid-template-columns: 3fr 7fr;
        
        .title{
            font-size: 1.3rem;
            padding-right: 10px;
        }
    }
    .sales-order-more-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    }

    .main{
        padding: 20px 120px;
    }

    .post-request{
        width: 65vw;
        padding: 20px 10px 10px 170px;
    }
    main.post-a-request-main{
        padding-bottom: 10px;
    }
    .form-container{
        padding: 10px 40px 30px 20px;
    }
    .selections{
        display: flex;
        justify-content: space-between;
        fieldset{
            width: 30%;

        }
    }


    .grid-2{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 15px;
    }


    .requests{
        width: 60vw;
    }

    .username-icon{
        width: 60px;
        height: 60px;
        font-size: 2.1rem;
        margin-left: 10px;
    }

    .description{
        font-size: 1.2rem;
    }

    .grid-2-12{
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        width: 80vw;
        margin: 10px auto;
    }

    main.how-it-works{
        width: 70vw;
        margin: 0px auto;
    }

    .grid-responsive-6{
        
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
        
    }

    main.request-page{
        padding:15px 160px 30px 160px ;
    }
    .a-recommendation{
        border-radius: 0;
        padding: 0;
    }

    

    .recommended-fix-top{
        display: flex;
        flex-direction: column;
        img{
            border-radius: 0;
        }
    }
    .recommended-image-wrapper{
        height: 100px;
        overflow-y: hidden;
        object-fit: cover;
        border-radius: 0;
        max-width: 100%;
    }
    .recommended-fix-title,.amount-and-user{
        padding: 0 10px 10px 10px;
    }
    .duration-and-rating-trust{
        display: none;


    }

    .recommended-mobile{
        display: none;
    }

    .recommended-desktop{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .fa-clock{
        font-size: 0.8rem;
    }

    .trust,.fix-rating{
        margin-left: 0px;
    }
    
    .recoomended-username-desktop{
        display: flex;
        margin: 10px;
        .fa-circle{
            margin-right: 4px;
        }
    }

    .recommended-username-mobile{
        display: none;
    }



    //mobile nav
    .mobile-nav-container{
        display: flex;
        align-items: center;
        
    }

    .toggle-nav,.logo-mini,.search-input-wwrapper,.drop-down-profile, .mobile-log-out{
        display: none !important;
    }

    .mobile-nav-main{
        max-width: 300px;
        width: 300px;
        min-width: 200px;
    }
    

    .main-header{
        display: flex;
        align-items: center;
        width: 100vw;
        justify-content: space-between;
        padding: 8px 15px;

    }

    .logo-maxi-container{
        display: block;
        max-width: 130px;
    }

    .header-left{
        display: flex;
        align-items: center;
    }

    .search-bar-maxi{
        display: block;
        padding: 10px;
        width: 350px;
        min-width: 180px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 1rem;
    }

    .top-profile-avatar-container{
        display: flex;
        align-items: center;
        span{
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background: green;
            color: white;
            border-radius: 50px;
            padding-right: 0px;
        }
        .fa{
            padding-left: 2px;
        }
       ;
    }

    .top-revenue{
        display: flex;
        padding: 3px 4px;
        padding-left: 9px;
        border-radius: 50px;
        border: 1px solid #f27415;
        justify-content: center;
        align-items: center;
        i,span{
            color: #f27415;
            padding:0px;
            margin: 0px;
        }        
    }

   

}


@media only screen and(min-width: 1024px){
 
    .grid-responsive-6{
        
        grid-template-columns: repeat(6,1fr); 
    }
     
 }