.message-received,.message-sent{
    // display: grid;
    // grid-template-columns: 30px auto;
    // column-gap: 5px;
    width: fit-content;
    background:white;
    max-width: 80%;
    margin-top: 10px;
    border-radius: 8px;
}

.message-sent{
    background: #f2f2f2;

}
.message-received{
    border:1px solid #ddd;
}
.main{
    height: 90vh;
}
.message-container{
    height: 50vh;
    overflow-y:auto;
    textarea{
        margin-bottom: 5px;
    }
}

.fill-width{
    width: 100%;
}
.padd8{
    padding: 8px;
}
.outline-none{
    outline: none;
}
.send-chat-button{
 margin-top: 5px;
 width: fit-content;
 padding: 6px 12px;
}
