.profile{
    background: white;
    padding: 20px 20px 50px 20px ;
    margin: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}


.online-status{
    display: flex;
    justify-content: flex-end;
}
.online-status div{
    text-align: right;
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #ddd;
    width: fit-content;
}


// .user-online{
//     color: #89E130;
// }

.online-icon{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    color:#89E130;
    margin-right: 5px;
    
}

.online-bg-color{
    background: #89E130;
}

.online-color{
    color:#89E130 ;
}

.edit-profile{
    width: 95%;
    margin: 30px auto;
    border: 1px solid #ddd;
    color:inherit;
}

.profile-icon{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background: rgb(2,68,70);
    margin: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.flex-center-wrapper{
    display: flex;
    justify-content: center;
    
    
}


.profile-item{
    margin-bottom: 15px;
    display: block;
    font-size: 1.2rem;
}

.profile-username{
    font-weight: bolder;
    margin-top: -10px;
    margin-bottom: 30px;
}

.profile-about{
    padding:15px ;
}


.profile-bio{
    background: white;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #ddd;
}


.about-item{
    margin-bottom: 15px;
    h2{
        margin-bottom: 15px;
        padding-left: 7px;
        
    }
    .fix-container{
        margin-top: 30px;
    }
}